.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Contact Form */
.ContactForm{
  margin-right: 5%;
  margin-left: 5%;
}

.form{
  padding: 2%;
}

TextField{
  border-radius: 4dp;
  height: 56dp;
  color: black;
}

/* Buttons */
.editButton{
  color: black;
}

.deleteButton{
background-color: darkred;
}

createBtn{
margin: 1%!important; 
}

.signOutBtn{
  margin-right: 2% !important;
}

.ContactTable, .DetailPage, .EditForm, .ContactForm{
width: 70%;
margin: auto;
margin-top: 2%;
}

.sortTable:hover{
color:black;
cursor: pointer;
}

.appHeader{
  margin-left: 95px;
}